







<!-- PROJECTS -->

<section class="content-31">
  <div class="container">
    <div class="row">
      <div class="number">1</div>
      <div class="col-sm-8 col-sm-offset-2">
        <h3>You can combine any blocks</h3>
        <p>These Samples will guide you through and show how to use the blocks and give you the feeling on how to play around using the components in the website building process.</p>
        <div class="box">
          <div class="img">
            <img src="../../common-files/img/content/ticket-navy-bw@2x.png" width="380" height="187" alt="">
            <img src="../../common-files/img/content/ticket-navy@2x.png" width="380" height="187" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="number">2</div>
      <div class="col-sm-8 col-sm-offset-2">
        <div id="pt-1" class="page-transitions pt-perspective">
          <div class="pt-page pt-page-current">
            <h3>Easy way to prototyping ideas</h3>
            <p>It contains many basic and complex components which are great for designers to have at hand: buttons, inputs, button groups, selects, checkboxes and radio-buttons, tags.</p>
            <div class="box">
              <div class="img">
                <img src="../../common-files/img/content/map-bw@2x.png" width="380" height="179" alt="">
                <img src="../../common-files/img/content/map@2x.png" width="380" height="179" alt="">
              </div>
            </div>
          </div>
          <div class="pt-page">
            <h3>Each block is coded for web</h3>
            <p>HTML layout is based on one of the common and reliable frameworks at this time - Bootstrap v 2.3.2. The most important parts of the Startup Framework are Samples and the UI Kit that includes a set of different components.</p>
            <div class="box">
              <div class="img">
                <img src="../../common-files/img/content/ps-wire-imac-bw@2x.png" width="397" height="193" alt="">
                <img src="../../common-files/img/content/ps-wire-imac@2x.png" width="397" height="193" alt="">
              </div>
            </div>
          </div>
          <div class="pt-page">
            <h3>Based on Twitter Bootstrap</h3>
            <p>For example, let’s take a look at Sample #4. This page consists of different blocks that are taken from a UI Kit — header, feature blocks, content blocks and footer with address.</p>
            <div class="box">
              <div class="img">
                <img src="../../common-files/img/content/ticket-navy-bw@2x.png" width="380" height="187" alt="">
                <img src="../../common-files/img/content/ticket-navy@2x.png" width="380" height="187" alt="">
              </div>
            </div>
          </div>
          <div class="pt-controls">
            <a class="pt-control-prev" href="#"></a>
            <a class="pt-control-next" href="#"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="number">3</div>
      <div class="col-sm-8 col-sm-offset-2">
        <div id="pt-2" class="page-transitions pt-perspective">
          <div class="pt-page pt-page-current">
            <h3>File transfer with no disconnects</h3>
            <p>It contains many basic and complex components which are great for designers to have at hand: buttons, inputs, button groups, selects, checkboxes and radio-buttons, tags.</p>
            <div class="box">
              <div class="img">
                <img src="../../common-files/img/content/ps-wire-imac-bw@2x.png" width="397" height="193" alt="">
                <img src="../../common-files/img/content/ps-wire-imac@2x.png" width="397" height="193" alt="">
              </div>
            </div>
          </div>
          <div class="pt-page">
            <h3>Make beautiful sites much faster</h3>
            <p>It contains many basic and complex components which are great for designers to have at hand: buttons, inputs, button groups, selects, checkboxes and radio-buttons, tags.</p>
            <div class="box">
              <div class="img">
                <img src="../../common-files/img/content/ticket-navy-bw@2x.png" width="380" height="187" alt="">
                <img src="../../common-files/img/content/ticket-navy@2x.png" width="380" height="187" alt="">
              </div>
            </div>
          </div>
          <div class="pt-page">
            <h3>Easy way to prototyping ideas</h3>
            <p>It contains many basic and complex components which are great for designers to have at hand: buttons, inputs, button groups, selects, checkboxes and radio-buttons, tags.</p>
            <div class="box">
              <div class="img">
                <img src="../../common-files/img/content/map-bw@2x.png" width="380" height="179" alt="">
                <img src="../../common-files/img/content/map@2x.png" width="380" height="179" alt="">
              </div>
            </div>
          </div>
          <div class="pt-controls">
            <a class="pt-control-prev" href="#"></a>
            <a class="pt-control-next" href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>










<!-- END PROJECT -->
















<!-- EQUIPE -->

<section class="crew-4">
  <div class="container">
    <h3> Quem faz acontecer </h3>
    <div class="members">
      <div class="member-wrapper">
        <div class="member">
          <div class="photo-wrapper">
            <div class="photo">
              <img src="../../common-files/img/crew/vladimir-k.png" alt="">
            </div>
            <div class="overlay">
              <a href="#"><span class="fui-vimeo"></span></a>
              <a href="#"><span class="fui-facebook"></span></a>
              <a href="#"><span class="fui-twitter"></span></a>
            </div>
          </div>
          <div class="info">
            <div class="name">Vladimir Kudinov</div>
            <b>Designer</b> who makes easy to change and easy to create new elements.
            <div class="contacts">
              <a href="#">http://vladimirkudinov.com</a>
              <br>
              <a href="#">@stSilent</a>
            </div>
          </div>
        </div>
      </div>
      <div class="member-wrapper">
        <div class="member">
          <div class="photo-wrapper">
            <div class="photo">
              <img src="../../common-files/img/crew/sergey-s.png" alt="">
            </div>
            <div class="overlay">
              <a href="#"><span class="fui-vimeo"></span></a>
              <a href="#"><span class="fui-facebook"></span></a>
              <a href="#"><span class="fui-twitter"></span></a>
            </div>
          </div>
          <div class="info">
            <div class="name">Sergey Shmidt</div>
            <b>Designer</b> who makes easy to change and easy to create new elements.
            <div class="contacts">
              <a href="#">http://vladimirkudinov.com</a>
              <br>
              <a href="#">@stSilent</a>
            </div>
          </div>
        </div>
      </div>
      <div class="member-wrapper">
        <div class="member">
          <div class="photo-wrapper">
            <div class="photo">
              <img src="../../common-files/img/crew/adrian-v.png" alt="">
            </div>
            <div class="overlay">
              <a href="#"><span class="fui-vimeo"></span></a>
              <a href="#"><span class="fui-facebook"></span></a>
              <a href="#"><span class="fui-twitter"></span></a>
            </div>
          </div>
          <div class="info">
            <div class="name">Adrian Valeanu</div>
            <b>Designer</b> who makes easy to change and easy to create new elements.
            <div class="contacts">
              <a href="#">http://vladimirkudinov.com</a>
              <br>
              <a href="#">@stSilent</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->
</section>







<!-- END EQUIPE -->







<!-- A REDE -->


<section class="content-23 v-center bg-midnight-blue">
  <div>
    <div class="container">
      <div class="hero-unit hero-unit-bordered">
        <h1>A Rede</h1>
      </div>
    </div>
  </div>
  <a class="control-btn fui-arrow-down" href="#"></a>
</section>
<!-- END REDE -->


<!-- PURPOSE -->




      <section class="content-29">
        <div class="container">
          <div class="col-sm-8 col-sm-offset-2">
            <h3>You have the design, you have the code</h3>
            <p>You can decide whether to create your site using UI Kit blocks or samples.</p>
          </div>
          <div class="player">
            <iframe id="pPlayer" src="http://player.vimeo.com/video/80282064?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;player_id=pPlayer" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="row features">
            <div class="col-sm-3">
              <img src="../../common-files/icons/Chat@2x.png" alt="" width="100" height="100">
              <h6>Block Model</h6>
You can easily combine any components in a variety of design projects.
            </div>
            <div class="col-sm-4 col-sm-offset-1">
              <img src="../../common-files/icons/responsive@2x.png" alt="" width="100" height="100">
              <h6>Based on Bootstrap</h6>
HTML layout is based on one of the common and reliable frameworks at this time - Twitter Bootstrap v2.3.2.
            </div>
            <div class="col-sm-3 col-sm-offset-1">
              <img src="../../common-files/icons/ps@2x.png" alt="" width="78" height="100">
              <h6>Save Your Time</h6>
Use your time for generating new ideas for your startup. Take a break from the routine.
            </div>
          </div>
        </div>
      </section>



<!-- END PURPOSE-->


<!-- OUR WORK -->


      <section class="projects-1">
        <div class="container">
          <div class="title">
            <a href="#">web design</a>
            <a href="#" class="active">graphic design</a>
            <a href="#">product design</a>
            <a href="#">ios development</a>
            <a href="#">web development</a>
          </div>
          <div class="head-box">
            <div class="brand">
              <img src="../../common-files/icons/logo-2@2x.png" width="42" height="21" alt="">Startup</div>
            <p>Responsive web design is a web design approach aimed at crafting sites.</p>
            <div class="features">
              <div>
                <span class="fui-mic"></span> Aligned to grid
              </div>
              <div>
                <span class="fui-cmd"></span> Don’t waste your time
              </div>
            </div>
          </div>
          <div class="projects">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
                    <!--<img src="" alt="">-->
                  </div>
                  <div class="overlay"><span class="fui-eye"></span>
                  </div>
                </div>
                <div class="info">
                  <div class="name">Flat UI Pro</div>
                  <b>Designer</b> who makes easy to change and easy to create new elements.
                </div>
              </div>
            </div>
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
                    <!--<img src="" alt="">-->
                  </div>
                  <div class="overlay"><span class="fui-eye"></span>
                  </div>
                </div>
                <div class="info">
                  <div class="name">Startup Kit</div>
                  <b>Designer</b> who makes easy to change and easy to create new elements.
                </div>
              </div>
            </div>
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
                    <!--<img src="" alt="">-->
                  </div>
                  <div class="overlay"><span class="fui-eye"></span>
                  </div>
                </div>
                <div class="info">
                  <div class="name">Impressionist UI</div>
                  <b>Designer</b> who makes easy to change and easy to create new elements.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.container-->
      </section>








<!-- END OUR WORK -->











<!-- begin CONTENT 32 -->


<section class="content-32">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Documentation</h3>
        <p class="lead">The most important parts of the Startup Framework are Samples and the UI Kit that includes a set of different components. The samples consist of a set of 25 pages. Each of these pages you can use as-is or with new blocks from a UI Kit.</p>
      </div>
    </div>
  </div>
  <div class="features">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h6>High Resolution</h6>
          We did a 2.5K size high resolution photo that will suit even for a very large web site.
        </div>
        <div class="col-sm-4 col-sm-offset-1">
          <h6>Easy to Use</h6>
          Blocks fixed to 12 Grid system. It allows you to find understanding between the designer and developer.
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <h6>Many Components</h6>
          To get started, you select the desired sample and base the entire website on it.
        </div>
      </div>
    </div>
  </div>
</section>









<!-- end CONTENT 32 -->
