/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { padding-top: 0 }
#header-block { 
  background-image: image-url('header-background.jpg'); 
  background-position: center top; 
  background-repeat: no-repeat; 
  background-size: 100% auto;
} 

#header-block .header-overlay { 
  background: rgba(0,0,0,0.6); 
}

.ui-logo { text-align: center }


#header-block h1 { 
  font-family: "Metaserif Bold" !important;
  font-size: 40pt;
  line-height: 1.4em;
  font-weight: 100;

}

#header-block .navbar-header {
  display: block;
  width: 80px;
  height: 50px;
  margin: 0 auto;
  float: none;
  text-align: center;
  margin: 0 auto;
}

#header-block .navbar .brand { padding: 0 }

#header-block .navbar-header a img { display: block; width: 50px; height: 50px; margin: auto }

#header-block ul.nav { clear: both; width: 44%; margin: 0 auto; }
#header-block ul.nav a { font-size: .7em; font-weight: 600; text-transform: uppercase; font-family: "Theinhardt Ultralight" }
