<header class="header-10">
  <div class="container">
    <div class="row ">
      <div class="navbar col-sm-12  v-center" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"></button>
          <a class="brand" href="#">
            <img src="../../common-files/icons/Infinity-Loop@2x.png" width="50" height="50" alt="">Startup
          </a>
        </div>
        <br/>
        <div class="navbar-collapse collapse">
          <ul class="nav ">
            <li><a href="#">UPCOMING EVENTS</a>
            </li>
            <li><a href="#">SUBSCRIPTIONS</a>
            </li>
            <li><a href="#">WORK</a>
            </li>
            <li><a href="#">BLOG</a>
            </li>
            <li><a href="#">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
  <div class="header-background"></div>
</header>
<section class="header-10-sub v-center">
  <div class="background">&nbsp;</div>
  <div>
    <div class="container">
      <div class="hero-unit">
        <h1>Startup Framework is a set of components</h1>
        <p>We’ve created the product that will help your
        <br/>startup to look even better.</p>
      </div>
    </div>
  </div>
  <a class="control-btn fui-arrow-down" href="#"></a>
</section>

