<header class="header-23">

  <!-- end container -->
  <div class="container">
    <div class="row">
      <div class="navbar col-sm-12" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"></button>
          <a class="brand" href="#">
            <%= image_tag "together-logo.png", size: '50x50' %>
          </a>
          <br/>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav">
            <li><a href="#">O que fazemos</a>
            </li>
            <li><a href="#">Como fazemos</a>
            </li>
            <li><a href="#">Quem somos</a>
            </li>
            <li><a href="#">Contato</a>
            </li>
            <li><a href="#">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>









  <div class="header-background"></div>
</header>
<section class="header-10-sub v-center">
  <div class="background">&nbsp;</div>
  <div>
    <div class="container">
      <div class="hero-unit">
        <h1>
          We've created the product that will help  
          <br/>
          your startup to look even better. You have
          <br/>
          the design, you have the code
        </h1>
      </div>
    </div>
  </div>
  <a class="control-btn fui-arrow-down" href="#content-block"></a>
</section>

