<header class="header-23">

  <!-- end container -->
  <div class="header-background"></div>
</header>
<section class="header-10-sub v-center">
  <div class="background">&nbsp;</div>
  <div>
    <div class="container">
      <div class="hero-unit">
        <h1>Startup Framework is a set of components</h1>
        <p>We’ve created the product that will help your
        <br/>startup to look even better.</p>
      </div>
    </div>
  </div>
  <a class="control-btn fui-arrow-down" href="#"></a>
</section>

